:root {
    --primary-color: rgb(0, 0, 60);
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: Raleway, sans-serif;
}

nav {
    top: 0;
    background-color: var(--primary-color);
    display: flex;
    justify-content: end;
}

nav ul {
    margin-right: 10px;
}

nav li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px; 
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 26px;
}

nav a:hover {
    color: orange;
}

#welcome-section {
    background: linear-gradient(45deg, #303030, black);
    color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#welcome-section h1 {
    margin-left: -20px;
    font-size: 46px;
    margin-top: 100px;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

#welcome-section p {
    position: absolute;
    margin-top: 175px;
    margin-left: -20px;
    color: orange;
    font-size: 20px;
    animation: fadeIn 4s ease-in-out forwards;
}

#about {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

#about h1 {
    font-size: 26px;
}

hr {
    width: calc(100vw - 300px);
    color: orange;
}

#about p {
    margin-left: 150px;
    margin-right: 150px;
    line-height: 1.2;
    font-size: 20px;
}

#about ul {
    display: flex;
    flex-direction: row;
    justify-content: content-start;
    list-style: none;
    margin-left: -20px;
}

#about li {
    margin-right: 20px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 24px;
}

#projects {
    height: auto;
    background: linear-gradient(135deg, #303030, black);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projects h1 {
    margin-top: 50px;
    font-size: 26px;

}

.project {
    height: auto;
    width: 90%;
    max-width: 400px;
    aspect-ratio: 4 / 3;
    border: 2px solid var(--primary-color);
    margin: 20px auto;
    transition: transform 0.4s;
    background-color: #303030;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    text-decoration: none;
}

.project h4 {
    color: white;
}

.project ul {
    margin-top: 0;
    margin-left: -45px;
}

.project li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    padding: 5px;
}

.project:hover {
    transform: scale(1.05);
}

.rust {
    background-color: brown;
}

.python {
    background-color: darkblue;
}

.csharp {
    background-color: darkgreen;
}

.javascript {
    background-color: darkred;
}

.docker {
    background-color: darkblue;
}

.flask {
    background-color: orange;
}

.mongodb {
    background-color: darkgreen;
}

#contact {
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact h1 {
    font-size: 40px;
    color: white;
}

#contact ul {
    margin-left: -45px;
    margin-top: 40px;
}

#contact li {
    display: inline-block;
    font-size: 26px;
}

#contact a {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

#contact a:hover {
    color: orange;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    nav {
        justify-content: center;
        align-items: center;
    }

    nav ul {
        display: flex;
        margin-left: -30px;
        flex-wrap: nowrap;
    }

    nav li {
        font-size: 24px;
        
    }

    #welcome-section h1 {
        font-size: 36px;
        margin-left: 3px;
    }

    #welcome-section p {
        margin-left: 3px;
    }

    #about {
        text-align: center;
    }

    hr {
        width: calc(100vw - 80px);
    }

    #about p {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 16px;
    }

    #about ul {
        margin-left: -40px;
    }

    #about li {
        margin-right: 5px;
        margin-left: 5px;
        font-size: 16px;
    }

    .project {
        width: 300px;
        aspect-ratio: 4 / 3;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}